body {
    margin: 0;
    background: #f2f6ff;
    font-family: Arial;
}

/* Navbar */
.navbar {
    background: #e81a81;
    padding: 15px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Login Box */
.login-box {
    width: 330px;
    margin: 130px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.login-box h2 {
    text-align: center;
    color: #e81a77;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-box button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #e81a66;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.login-box button:hover {
    background: #ca1378;
}

.login-box p {
    text-align: center;
    margin-top: 15px;
}

.login-box a {
    color: #e81a7e;
    text-decoration: none;
}
